
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;  
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar {
    width: 20px;
}
    
::-webkit-scrollbar {
    background: none !important;
}
    
::-webkit-scrollbar-thumb {
    background-color:#161616;
    border: 6px solid transparent;
    background-clip: content-box;
}

/*Defaults*/

body {
    font-family: 'inter', sans-serif;
    margin: 0;
    color: #161616;
}

/* unvisited link */
a:link {
    text-decoration:none;
    color: #161616;
}

/* visited link */
a:visited {
    text-decoration:none;
    color: #161616;
}

.a:hover {
    font-weight: bold;
}

/* mouse over link */
a:hover {
    text-decoration:none;
}

/* selected link */
a:active {
    text-decoration:none;
    color: #161616;
}

/*HEADER*/

/*HEADER Rainbow Hover*/
.rainbow-hover-1{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(60deg, #E3FFB6,rgb(197, 233, 255),#ECC3FF, rgb(255, 196, 223));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(0,0,0,1);
    transition: color .2s ease-in-out;
}


.rainbow-hover-1 a:hover {
    color:rgba(0,0,0,0);
    cursor: url(images/macaron-30.png), auto;
}

@keyframes rainbow { 
  0%{background-position:up}
  50%{background-position:right}
  100%{background-position:left}
}


/* NAVIGATION*/
.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
}

.navigation img {
    width: 150px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    top: 0;
    width: 50%;
    background-color: white;
}

/* @media screen and (max-width: 500px) {
    .navbar {
      float: none;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  } */

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 25px;
}
    
nav ul li a {
    text-decoration: none;
    color: #161616;
    font-size: 16px;
}
    
nav ul li a:hover{
    font-weight: bold;
    color: #ECC3FF;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

nav ul li a:active{
    font-weight: bold;
}

/* HOME*/

/*HOME Rainbow Hover*/
.rainbow-hover {
    font-size: 55px;
    font-weight: bold;
    background: linear-gradient(60deg, #E3FFB6,rgb(197, 233, 255),#ECC3FF, rgb(255, 196, 223));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(0,0,0,1);
    transition: color .2s ease-in-out;
}


.rainbow-hover a:hover {
    color:rgba(0,0,0,0);
    cursor: url(images/macaron-30.png), auto;
}

@keyframes rainbow { 
  0%{background-position:up}
  50%{background-position:right}
  100%{background-position:left}
}

#rh-info {
    font-size: 40px;
    font-weight: 16px;
    text-align: center;
}

/* .rh-info-2 {
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
} */

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.home p {
    font-weight: 300;
    font-size: 25px;
    width: 550px;
    margin-top: 20px;
}

.home img {
    width: 350px;
}

.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}

.fa-brands {
    color: #161616;
    font-size: 40px;
}

.fa-brands:hover {
    color: #ECC3FF;
    font-size: 40px;
    transition: color .2s ease-in-out;
}

.fa-solid {
    color: #161616;
    font-size: 35px;
}

.fa-solid:hover {
    color: #ECC3FF;
    font-size: 35px;
    transition: color .2s ease-in-out;
}

/* ABOUT*/
/* 
.about {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
    align-items: center;
    padding: 50px;
}

.about p {
    font-weight: 300;
    font-size: 15px;
    width: 550px;
}

.about-info {
    display: flex;
    flex-direction: column;
} */

/* PROJECTS*/

.projects {
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 50px;
    
}

.project p {
    font-weight: 300;
    font-size: 15px;
    width: 550px;
}

.projects img {
    width: 500px;
    margin: 25px 15px;
}

.project-grid-1{
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
}

.project-grid-2{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}


/* CONTACT*/
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 665px;
    padding: 50px;
    text-align: center;
}
.contact-socials {
    display: flex;
    justify-content: space-around;
    margin: 25px;

}

.contact-socials img {
    width: 40px;
}

.contact-form {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}

  textarea:focus, input:focus{
    outline: none;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #161616;
    font-family: inherit;
    width: 100%;
    padding: 25px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: medium;
    font-weight: bold;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid #161616;
    font-family: inherit;
    width: 100%;
    padding: 25px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: medium;
    font-weight: bold;
}

textarea {
    border: none;
    border-bottom: 2px solid #161616;
    font-family: inherit;
    font-size: medium;
    font-weight: bold;
    width: 100%;
    padding: 25px 0px;
    margin: 8px 0;
    box-sizing: border-box;
  }


  input[type=submit] {
    background-color: #161616;
    color: white;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    float: right;
    font-weight: bold;
    font-size: medium;
  }
  
  input[type=submit]:hover {
    cursor: url(images/macaron-30.png), auto;
    background-color:#ECC3FF;
    font-weight: bold;
    font-size: medium;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  
.contact-content {
    margin: 25px;
} 

/* THANKS Page*/
.thanks{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.thanks p{
    font-size: x-large;
    font-weight: lighter;
}


/* FOOTER*/
.footer {
    display: flex;
    margin-bottom: 16px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: x-small;
}

.footer a:hover {
    color: #ECC3FF;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

/* TABLETS AND UNDER*/
@media(max-width: 768px) {

}


/* MOBILE*/
@media(max-width: 500px) {

}