
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}
  
::-webkit-scrollbar {
    width: 20px;
}
    
::-webkit-scrollbar {
    background: none !important;
}
    
::-webkit-scrollbar-thumb {
    background-color:#161616;
    border: 6px solid transparent;
    background-clip: content-box;
}

/*Defaults*/

body {
    font-family: 'inter', sans-serif;
    margin: 0;
    color: #161616;
}

/* unvisited link */
a:link {
    text-decoration:none;
    color: #161616;
}

/* visited link */
a:visited {
    text-decoration:none;
    color: #161616;
}

.a:hover {
    font-weight: bold;
}

/* mouse over link */
a:hover {
    text-decoration:none;
}

/* selected link */
a:active {
    text-decoration:none;
    color: #161616;
}

/*HEADER*/

/*HEADER Rainbow Hover*/
.rainbow-hover-1{
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(60deg, #E3FFB6,rgb(197, 233, 255),#ECC3FF, rgb(255, 196, 223));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(0,0,0,1);
    transition: color .2s ease-in-out;
}


.rainbow-hover-1 a:hover {
    color:rgba(0,0,0,0);
    cursor: url(images/macaron-30.png), auto;
}

@keyframes rainbow { 
  0%{background-position:up}
  50%{background-position:right}
  100%{background-position:left}
}


/* NAVIGATION*/
.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
}

.navigation img {
    width: 150px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    top: 0;
    position: sticky; top: 0;
    width: 84%;
    background-color: white;
}


.dark-mode {
    background-color: black;
    color: white;
  }
  
/* @media screen and (max-width: 500px) {
    .navbar {
      float: none;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  } */

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 25px;
}
    
nav ul li a {
    text-decoration: none;
    color: #161616;
    font-size: 16px;
}
    
nav ul li a:hover{
    font-weight: bold;
    color: #ECC3FF;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

nav ul li a:active{
    font-weight: bold;
}

/*HAMBURGER MENU*/
.burger {
	border: 0;
	cursor: pointer;
	display: none;
	font-size: 22px;
	position: relative;
	padding: 0;
	outline: none;
	height: 30px;
	width: 30px;
}

.burger:active {
	color: #f4c7ff;
	outline: none;
}

.burger .bar {
	background-color: #815b5b;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	height: 3px;
	width: 20px;
	transition: transform 0.2s ease;
}

.burger .bar:first-of-type {
	top: 40%;
}

.burger .bar:last-of-type {
	top: 60%;
}


ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul li {
	margin: 0 10px;
}

ul li a {
	color: #2C405E;
	position: relative;
	text-decoration: none;
}

ul li a::after {
	content: '';
	background-color: #2C405E;
	position: absolute;
	bottom: -18px;
	left: 0;
	opacity: 0;
	height: 2px;
	width: 100%;
	transition: transform 0.2s ease;
}

ul li a:hover::after {
	opacity: 1;
	transform: translateY(-15px);
}

@media screen and (max-width: 800px) {
	header h1 {
		font-size: 2em;
	}
	
	.burger {
		display: block;
	}
	
	.burger.show-x .bar:first-of-type {
		transform: translate(-50%, 50%) rotate(225deg);
	}
	
	.burger.show-x .bar:last-of-type {
		transform: translate(-50%, -150%) rotate(-225deg);
	}
	
	ul {
		background-color: #fff;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
		flex-direction: column;
		text-align: center;
		position: fixed;
		top: 80px;
		left: 10%;
		transform: translateX(120%);
		width: 80%;
		transition: transform 0.3s ease-in;
		z-index: 100;
	}
	
	ul.show {
		transform: translateX(0);
	}
	
	ul li {
		margin: 15px;
	}
}
/* HOME*/

/*HOME Rainbow Hover*/
.rainbow-hover {
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(60deg, #E3FFB6,rgb(197, 233, 255),#ECC3FF, rgb(255, 196, 223));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(0,0,0,1);
    transition: color .2s ease-in-out;
    position: relative;
}


.rainbow-hover a:hover {
    color:rgba(0,0,0,0);
    cursor: url(images/macaron-30.png), auto;
}

@keyframes rainbow { 
  0%{background-position:up}
  50%{background-position:right}
  100%{background-position:left}
}

#rh-info {
    font-size: 30px;
    font-weight: 16px;
    text-align: center;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40vh;
    margin: 55px;
}

.home p {
    font-weight: 300;
    font-size: 25px;
    margin-top: 20px;
}

.home img {
    width: 350px;
}

.home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 35px;
}

/*FONT AWESOME*/
.fa-brands {
    color: #161616;
    font-size: 40px;
}

.fa-brands:hover {
    color: #ECC3FF;
    font-size: 40px;
    transition: color .2s ease-in-out;
}

.fa-solid {
    color: #161616;
    font-size: 35px;
}

.fa-solid:hover {
    color: #ECC3FF;
    font-size: 35px;
    transition: color .2s ease-in-out;
}

/* ABOUT*/

/* .about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 50px;
    height: 85vh;
}

.about p {
    font-weight: 300;
    font-size: 15px;
    width: 550px;
}

.about-info {
    display: flex;
    flex-direction: row;
} */

/* PROJECTS*/
.projects {
    display: flex;
    align-items: center;
    height: 40vh;
}

/* PROJECT 1*/
.project-1 {
    display: flex;
    align-items: center;
    height: 40vh;
}

.project-1 p {
    font-weight: 300;
    font-size: 15px;
    width: 300px;
}

.project-1 img {
    width: 500px;
    margin: 25px 15px;
}

.project-1 {
    position: relative;
    transition: all .5s ease-in;
}


.project-overlay-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: #C0DADC;
    border-radius: 15px;
  }
  
  .project-1:hover .project-overlay-1 {
    opacity: 1;
  }
  
  .overlay-text-1 {
    color: rgb(51, 51, 51);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .button-1 {
    background-color: #9db6b8;
    padding: 15px;
    margin: 20px 5px 5px 0px;
    border-radius: 15px;
    display: inline-block;
    color: rgb(219, 219, 219);
    text-decoration: none;
  }

/* PROJECT 2*/
  .project-2 {
    display: inline-block;
    align-items: center;
    height: 40vh;
}

.project-2 p {
    font-weight: 300;
    font-size: 15px;
    width: 300px;
}

.project-2 img {
    width: 500px;
    margin: 25px 15px;
}

.project-2 {
    position: relative;
    transition: all .5s ease-in;
}


.project-overlay-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: #a5a5a5;
    border-radius: 15px;
  }
  
  .project-2:hover .project-overlay-2 {
    opacity: 1;
  }
  
  .overlay-text {
    color: rgb(51, 51, 51);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .button-2 {
    background-color: #808080;
    padding: 15px;
    margin: 20px 5px 5px 0px;
    border-radius: 15px;
    display: inline-block;
    color: rgb(219, 219, 219);
    text-decoration: none;
  }

/* PROJECT 3*/

.project-3 {
    display: inline-block;
    align-items: center;
    height: 40vh;
}

.project-3 p {
    font-weight: 300;
    font-size: 15px;
    width: 300px;
}

.project-3 img {
    width: 500px;
    margin: 25px 15px;
}

.project-3 {
    position: relative;
    transition: all .5s ease-in;
}


.project-overlay-3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color: #e8cae0;
    border-radius: 15px;
  }
  
  .project-3:hover .project-overlay-3 {
    opacity: 1;
  }
  
  .overlay-text-3 {
    color: rgb(51, 51, 51);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .button-3 {
    background-color: #ad98a8;
    padding: 15px;
    margin: 20px 5px 5px 0px;
    border-radius: 15px;
    display: inline-block;
    color: rgb(219, 219, 219);
    text-decoration: none;
  }


/* SKILLS*/

.skills {
	background-color: #ffffff;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

/* CONTACT*/
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 665px;
    padding: 50px;
    text-align: center;
}
.contact-socials {
    display: flex;
    justify-content: space-around;
    margin: 25px;

}

.contact-form {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}

  textarea:focus, input:focus{
    outline: none;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #161616;
    font-family: inherit;
    width: 100%;
    padding: 25px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: medium;
    font-weight: bold;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid #161616;
    font-family: inherit;
    width: 100%;
    padding: 25px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: medium;
    font-weight: bold;
}

textarea {
    border: none;
    border-bottom: 2px solid #161616;
    font-family: inherit;
    font-size: medium;
    font-weight: bold;
    width: 100%;
    padding: 25px 0px;
    margin: 8px 0;
    box-sizing: border-box;
  }


  input[type=submit] {
    background-color: #161616;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    float: right;
    font-weight: bold;
    font-size: medium;
  }
  
  input[type=submit]:hover {
    cursor: url(images/macaron-30.png), auto;
    background-color:#ECC3FF;
    font-weight: bold;
    font-size: medium;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  
.contact-content {
    margin: 25px;
} 

/* THANKS Page*/
.thanks-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.thanks-msg p{
    font-size: x-large;
    font-weight: lighter;
}

.rainbow-hover-3 {
    font-size: 25px;
    
    background: linear-gradient(60deg, #E3FFB6,rgb(197, 233, 255),#ECC3FF, rgb(255, 196, 223));
    background-size: 200% 200%;
    animation: rainbow 2s ease-in-out infinite;
    background-clip: text;
    -webkit-background-clip:text;
    color:rgba(0,0,0,1);
    transition: color .2s ease-in-out;
}


.rainbow-hover-3 a:hover {
    color:rgba(0,0,0,0);
    font-weight: bold;
    cursor: pointer, auto;
}

@keyframes rainbow { 
  0%{background-position:up}
  50%{background-position:right}
  100%{background-position:left}
}

/* FOOTER*/
.footer {
    display: flex;
    margin-bottom: 16px;
    align-items: center;
    text-align: center;
    font-size: small;
}

.footer a:hover {
    color: #ECC3FF;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

/* TABLETS AND UNDER*/
@media(max-width: 768px) {

}


/* MOBILE*/
@media(max-width: 500px) {

}